{% extends "base.html" %}
{% block title %}Social Profiles{% endblock %}
{% load staticfiles %}
{% block content %}
	<div class="col-md-12 col-xs-12">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- socialprofiles home header -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7061122627871258"
     data-ad-slot="6959767257"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>
	</div>
	{% if msg == 'msg' %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>Oops!</strong> Couldn't found, try another one.
		</div>
	{% elif msg == 'captcha' %}
		<div class="alert alert-info alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>Oops! You are a Robot!!!</strong>
		</div>
	{% elif msg %}
		<div class="alert alert-info alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>{{ msg }}</strong>
		</div>
	{% endif %}
	<div class="hint_text">
		<span>
			<b><i>Enter an email, we will try to get all social media profiles.<i></b>
		</span>
	</div>
	<form method='post' action=''>{% csrf_token %}
		<div class="form-group">
			<label for="InputYourName">Email</label>
			<input required type="text" name="email" class="form-control" id="InputYourName" placeholder="Enter an Email">
		</div>
		<div class="g-recaptcha" data-sitekey="6LfP3QwTAAAAAO1BsyYBk69m9rGqXWYkFl_7Lris"></div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
	<div class="col-md-12 col-xs-12">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- socialprofiles footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7061122627871258"
     data-ad-slot="8436500457"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
{% endblock %}