{% extends "base.html" %}
{% block title %}Social Profiles{% endblock %}
{% load staticfiles %}
{% block content %}
	{% if msg == 'msg' %}
		<div class="alert alert-warning alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>Oops!</strong> Couldn't found, try another one.
		</div>
	{% elif msg %}
		<div class="alert alert-info alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <strong>{{ msg }}</strong>
		</div>
	{% endif %}
	<div class="hint_text">
		<span>
			<b><i>Enter an email, we will try to get all social media profiles.<i></b>
		</span>
	</div>
	<form method='post' action=''>{% csrf_token %}
		<div class="form-group">
			<label for="InputYourName">Email</label>
			<input type="text" name="email" class="form-control" id="InputYourName" placeholder="Enter an Email">
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
{% endblock %}