{% extends "base.html" %}
{% block title %}Social Profiles{% endblock %}
{% load staticfiles %}
{% block content %}
	<div class="col-md-12 col-xs-12">
		<div class="col-md-10 col-xs-10">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- topbar -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-7061122627871258"
				     data-ad-slot="8715702053"
				     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			<form class="form-horizontal col-md-12 col-xs-12" method="post" action="">{% csrf_token %}
				<div class="form-group">
					<label>Type your mobile number here and click the button below</label>
					
						<input required type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number (09847125678)">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-md btn-primary">Fetch Messages</button>
				</div>
			</form>
			{% if msg %}
			<div class="alert alert-danger alert-dismissible fade in col-md-12 col-xs-12" role="alert">
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		      <h4 id="oh-snap!-you-got-an-error!"><center><h1>April Fool!!!!</h1></center><a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a></h4>
		      <center><p>(This was only intended to be a prank. All your messages are totally safe!!!)</p></center>
		    	<div class="alert alert-success alert-dismissible fade in col-md-12 col-xs-12" role="alert">
		    	<center><h4>Well, Don't worry, here is your gift, this is not April fool for sure.Signup to <a target="_blank" href="https://www.uber.com/invite/uberajfree">uber</a> and get a free ride worth Rs.600. Apply this promocode code <b style='color:#000'>uberajfree</b></h4></center>
		    </div>
		        <!-- <button type="button" class="btn btn-danger">Take this action</button>
		        <button type="button" class="btn btn-default">Or do this</button> -->
		      </p>
		    </div>
		    {% endif %}
		    <div class="col-md-12 col-xs-12">
		    	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- aprilfool -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-7061122627871258"
				     data-ad-slot="4193260853"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		    </div>
		</div>
		<div class="col-md-2 col-xs-2">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- sidebar -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:600px"
				     data-ad-client="ca-pub-7061122627871258"
				     data-ad-slot="3495256858"></ins>
				<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

	</div>
	</div>
    
    
{% endblock %}
